Test-Report Week 3

--exercise 2

We took a well know function as starting point in order to generate random formulas that generates an integer of n numbers, then it generates a random formula with limit 5 for this case.
In case of formulas with zero levels, it generates an arbitrary number of indices.
We make an arrangement for formulas until 5 levels in order to fulfil some syntactic forms and then generate random formulas with variable levels.
Then we create the test function with 50 random generated formulas showing the ones that pass the parsing test and the ones that do not.